.text {
  box-sizing: border-box;

  position: absolute;
  height: 45px;
  width: 314px;
  right: 128px;
  top: 196px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #cbdbea;
  border-radius: 8px;
}
.email {
  box-sizing: border-box;

  position: absolute;
  width: 314px;
  height: 45px;
  right: 128px;
  top: 273px;

  background: #ffffff;
  border: 1px solid #cbdbea;
  border-radius: 8px;
}

.password {
  box-sizing: border-box;

  position: absolute;
  width: 314px;
  height: 45px;
  right: 128px;
  top: 352px;
  background: #ffffff;

  border: 1px solid #cbdbea;
  border-radius: 8px;
}

::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 103.38%;
  /* or 14px */

  color: #b7c0c9;
}
.btn {
  position: absolute;
  width: 314px;
  height: 45px;
  right: 128px;
  bottom: 163px;

  background: #329c89;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 103.38%;
  /* identical to box height, or 17px */

  letter-spacing: 0.01em;

  color: #ffffff;
}
.eye {
  position: absolute;
  height: 11.6875px;
  width: 17px;

  border-radius: 0px;
  right: 147px;
  bottom: 263.66px;
  z-index: 1;
}

.dot {
  position: absolute;
  width: 5.31px;
  height: 5.31px;
  border-radius: 0px;
  right: 152.84px;
  bottom: 266.84px;
  z-index: 1;
}

h4 {
  position: absolute;
  height: 15px;
  width: 80px;
  right: 343px;
  bottom: 100px;
  border-radius: nullpx;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  color: rgba(26, 59, 88, 0.61);
}

.check {
  position: absolute;
  height: 11px;
  width: 11px;
  right: 424px;
  bottom: 112px;
  border-radius: 0px;

  background: #329c89;
}
